@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #ebf0f6;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form{
    padding-top: 20px;
}

.container{
    border-radius: 40px;
    padding: 40px;
    background-color: white;
    text-align: center;
    width: 50%;
}

.container p {
    font-size: 16px;
    font-weight: 200;
}

.espaco-input {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #4d5558;
}

.espaco-input input{
    height: 25px;
    border-radius: 5px;
    background-color: #ebf0f6;
    border: 1px solid #d6d7d9;
    padding: 0 10px;
    color: #a8acb7;
}

.botoes{
    padding-top: 30px;
}

.botoes button{
    width: 100%;
    height: 30px;
    background-color: rgb(63,93,200);
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
}

.retorno{
    text-align: left;
    display: flex;
    gap: 3px;
    color: #999ca1;
    align-items: center;
    padding-bottom: 30px;
}

.lado-a-lado{
    
}